*{
	box-sizing: border-box;
}

div.product{
	border: 2px solid purple;
	margin: 10px;
	position: relative;
}

div.topping{
	display: inline-block;
}

div.products{
	width: 60%;
	float: left;
}

div#cartBlock{
	width: 30%;
	height: 94vh;
	overflow: auto;
	float: left;
	border: 2px solid black;
}

#buy{
	width: 100%;
}

.category{
	position: absolute;
	top: 0px;
	right: 0px;
}