*{
	box-sizing: border-box;
}

div{
	border: 1px solid black;
	margin: 5px;
}

div.basepizza{
	border: 1px solid aqua;
	margin: 10px;
}

div.topping{
	display: inline-block;
}

div.products{
	width: 60%;
	float: left;
}

div#cartBlock{
	width: 30%;
	height: 94vh;
	overflow: auto;
	float: left;
}

#buy{
	width: 100%;
}