{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="/static/orders/favicon.png">
	<link rel="stylesheet" type="text/css" href="{% static 'orders/base.css' %}">
	<title>
		{% block title %}
		{% endblock %}
	</title>

	{% block script %}
	{% endblock %}

	{% block css %}
	{% endblock %}	
</head>
<body>
	<nav>
		<a href="/">Home</a> |
		{% if user.is_authenticated %}
			<a href="{% url 'menu' %}">Menu</a> |
		    <a href="{% url 'logout' %}">Welcome, {{ user.get_username }}! Logout</a>
		{% else %}
		    <a href="{% url 'login' %}">Welcome new user, please log in</a>
		{% endif %}
	</nav>
	{% block body %}
	{% endblock %}
</body>
</html>