<h2>{{message}}</h2>
<h3>{{orderNo}}</h3>

<h2> Item list </h2>
{% for item in cartItems %}
	<div class="product pizza" data-id="{{item.cartItem.product.id}}" data-cartitemid="{{item.cartItem.id}}">
		<h3>{{item.cartItem.product.name}}</h3>
		<div class="description">
			{{item.cartItem.product.description}}
		</div>

		<div class="size">
			<span>{{item.cartItem.product.size}}</span> size	
		</div>
		<div class="cost">
			${{item.cartItem.product.price}}
		</div>
		
		{% ifequal item.cartItem.product.category.id 1 %}
			<h5>Toppings</h5>
			{% for cartItem in item.cartItemToppings %}
				<div class="topping" data-id="{{cartItem.product.id}}">
					<div class="name">{{cartItem.product.name}}</div>
					<div class="cost">$<span class="cost">{{cartItem.product.price}}</span></div>	
				</div>
			{% endfor %}
		{% endifequal%}
	</div>
{% endfor %}

<div>
	<div>
		<b>Total cost:</b> $<span class="totalCost">{{totalCost}}</span>
	</div>
</div>