{% extends "orders/base.html" %}

{% block title %}
	Menu
{% endblock %}

{% block css %}
{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'orders/menu.css' %}">
{% endblock %}

{% block script %}
{% load static %}
<script src="{% static 'orders/menu.js' %}"></script>
{% endblock %}

{% block body %}
	<!-- Display pizza -->
	<div class="products">
		{% for pizza in pizzas %}
			<div class="pizza" data-pizzaid="{{pizza.id}}">
				<h2>{{pizza.name}}</h2>
				<div class="pizzaDesc">
					{{pizza.description}}
				</div>
				<div class="pizzaSize">
					<span>{{pizza.size}}</span> size	
				</div>
				<div class="pizzaCost">
					$<span class="cost">{{pizza.price}}</span>
				</div>
				
				<h3>Toppings</h3>
				{% for topping in toppings %}
					<div class="topping" data-toppingid="{{topping.id}}">
						<input type="checkbox">
						<div class="toppingName">{{topping.name}}</div>
						<div class="toppingCost">$<span class="cost">{{topping.price}}</span></div>	
					</div>
				{% endfor %}
				<button class="addToCart">Add to cart</button>
			</div>
		{% endfor %}	
	</div>
	

	<!-- Cart -->
	<div id="cartBlock">
		<div>
			<h2>Cart</h2>	
		</div>
		
		<div id="cart"></div>

		<div>
			<div>
				Total cost: $<span class="totalCost">0</span>
			</div>
			<button id="buy">Confirm</button>	
		</div>
	</div>
{% endblock %}