{% extends "orders/base.html" %}

{% block title %}
	Menu
{% endblock %}

{% block css %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'orders/menu.css' %}">
{% endblock %}

{% block script %}
	{% load static %}
	<script src="{% static 'orders/menu.js' %}"></script>
{% endblock %}

{% block body %}
	<!-- Display pizza -->
	<div class="products">
		{% for bp in pizzas %}
			<div class="product basepizza" data-id="{{bp.basePizza.id}}" data-cost="{{bp.basePizza.price}}" data-size="{{bp.basePizza.size}}">
				<h2>{{bp.basePizza.name}}</h2>
				<h2 class="category">
					{{bp.basePizza.category}}
				</h2>

				<div class="description">
					{{bp.basePizza.description}}
				</div>
				
				
				{% if bp.pizzas %}
					<select name="size">
					{% for pizza in bp.pizzas %}
						<option value="{{pizza.id}}">{{pizza.size}}</option>
					{% endfor %}	
					</select>

					<div class="cost">
						{% for pizza in bp.pizzas %}
							<span class="pizza" data-id="{{pizza.id}}" data-cost="{{pizza.price}}" data-size="{{pizza.size}}">${{pizza.price}}</span>
						{% endfor %}	
					</div>
				{% else %}
					<div class="size">
						{{bp.basePizza.size}} size
					</div>
					<div class="cost">
						${{bp.basePizza.price}}
					</div>
				{% endif %}
				
				
				<!-- Display topping only for pizza -->
				{% ifequal bp.basePizza.category.id 1 %}
					<h3>Toppings</h3>
					{% for topping in toppings %}
						<div class="product topping" data-id="{{topping.id}}" data-cost="{{topping.price}}">
							<input type="checkbox">
							<div class="name">{{topping.name}}</div>
							<div class="cost">${{topping.price}}</div>	
						</div>
					{% endfor %}
				{% endifequal %}
				
				<button class="addToCart">Add to cart</button>
			</div>
		{% endfor %}	
	</div>
	
	<!-- Cart -->
	<div id="cartBlock">
		<div>
			<h2>Cart</h2>	
		</div>
		
		<form id="myform" action="/orderConfirmation/" method="post">
			{% csrf_token %}
			<!-- Display saved item -->
			<div id="cart">
				{% for item in cartItems %}
					<div class="product pizza" data-id="{{item.cartItem.product.id}}" data-size="{{item.cartItem.product.size}}" data-cost="{{item.cartItem.product.price}}" data-cartitemid="{{item.cartItem.id}}">
						<h2>{{item.cartItem.product.name}}</h2>
						<h2 class="category">
							{{item.cartItem.product.category}}
						</h2>

						<div class="description">
							{{item.cartItem.product.description}}
						</div>

						

						<div class="size">
							{{item.cartItem.product.size}} size	
						</div>
						<div class="cost">
							${{item.cartItem.product.price}}
						</div>
						
						{% ifequal item.cartItem.product.category.id 1 %}
							<h3>Toppings</h3>
							{% for cartTopping in item.cartItemToppings %}
								<div class="product topping" data-cost="{{cartTopping.product.price}}" data-id="{{cartTopping.product.id}}">
									<div class="name">{{cartTopping.product.name}}</div>
									<div class="cost">${{cartTopping.product.price}}</div>	
								</div>
							{% endfor %}	
						{% endifequal %}
						
						<button class="removeFromCart">remove</button>
					</div>
				{% endfor %}
			</div>
				
			<div>
				<div>
					<b>Total cost:</b> $<span class="totalCost">0</span>
				</div>
				<div>
					<input type="submit" id="buy" value="Buy">	
				</div>
			</div>
		</form>	
	</div>
{% endblock %}