{% extends "orders/base.html" %}

{% block title %}
	Order Confirmation
{% endblock %}

{% block script %}
	{% load static %}
	<script src="{% static 'orders/orderConfirmation.js' %}"></script>
{% endblock %}

{% block body %}
	{{message}}

	<!-- Display saved item -->
	<form action="/buy/" method="post">
		{% csrf_token %}
		{% for item in cartItems %}
			<div class="product pizza" data-id="{{item.cartItem.product.id}}" data-cartitemid="{{item.cartItem.id}}">
				<h2>{{item.cartItem.product.name}}</h2>
				<div class="description">
					{{item.cartItem.product.description}}
				</div>

				<h2 class="category">
					{{bp.basePizza.category}}
				</h2>

				<div class="size">
					<span>{{item.cartItem.product.size}}</span> size	
				</div>
				<div class="cost">
					$<span class="cost">{{item.cartItem.product.price}}</span>
				</div>
				
				<!--Display topping for pizza -->
				{% ifequal item.cartItem.product.category.id 1 %}
					<h3>Toppings</h3>
					{% for cartTopping in item.cartItemToppings %}
						<div class="product topping" data-id="{{cartTopping.product.id}}" data-cost="{{cartTopping.product.price}}">
							<div class="name">{{cartTopping.product.name}}</div>
							<div class="cost">${{cartTopping.product.price}}</div>	
						</div>
					{% endfor %}
				{% endifequal%}
				
			</div>
		{% endfor %}
			
		<div>
			<div>
				<b>Total cost:</b> $<span class="totalCost">{{totalCost}}</span>
			</div>
			<input type="submit" id="placeOrder" value="Place Order">	
		</div>
	</form>
{% endblock %}