*{
	box-sizing: border-box;
}

div.product{
	border: 2px solid aqua;
	margin: 10px;
	position: relative;
}

div.topping{
	display: inline-block;
	border: 1px solid green;
	border-radius: 4px;
}

div.products{
	width: 60%;
	float: left;
	border: 2px solid black;
	margin: 5px;
}

div#cartBlock{
	width: 35%;
	height: 94vh;
	overflow: auto;
	float: left;
	border: 2px solid black;
	margin: 5px;
}

#buy{
	width: 100%;
}

.category{
	position: absolute;
	top: 0px;
	right: 0px;
}

input, select{
	padding: 5px;
	border-radius: 4px;
	margin: 5px;
}

input[type="submit"], button{
	background-color: aqua;
	cursor: pointer;
	font-weight: bold;
}

input[type="submit"]:hover, button:hover{
	background-color: green;
}

@media screen and (max-width: 600px){
	div#cartBlock{
		width: 100%;
	}

	div.products{
		width: 100%;
	}
} 